* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Courier New';
    font-size: larger;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    color: white;
}

.card {
    background-color: darkslategrey;
    width: 256px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}